<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4"><label for="">Name:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8"><label for="">Designation:</label>
                    <input type="text" class="form-control"></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="">Department:</label>
                <select name="" id="" class="flow-control">
                    <option value="">BCA</option>
                    <option value="">MCA</option>
                    <option value="">BSC</option>
                </select></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="">College:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">Mobile:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">Qualification:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary">REGISTER</button>
                </div>
            </div>
        </div>
    </div>
</div>

